// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere



//Font
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,600i,700');

//
// Color system
//

// dark blue #041d57;
// analogous blue shade #0DFFB5;
// anologous orange shade #ec4e20;


$light-shade:         #F3F3EC;
$light-accent:        #BB8E8A;
$primary-color:       #903144;
$dark-accent:         #A3816B;
$dark-shade:          #272E3E;
$text-color:          rgb(98, 108, 132);


$secondary-color:			darken(#3e7833, 10%);

$hot-color:         $dark-accent;  
$cool-color:        $light-accent;


$header-color:        #252525;
$accent-color:        $hot-color;
$light-accent-color:    $light-accent;
$dark-accent-color:     $dark-accent;
$sales-color:				$dark-accent;
$muted-secondary-color: lighten($secondary-color, 60%);
$muted-primary-color: lighten($primary-color, 60%);

$font-family-base: 'Poppins', sans-serif;

$content-padding-rem: 3rem;

//mixins
%header {
  font-weight: bold;
  color: $header-color;
  font-size: 3.6rem;
  font-family: $font-family-base;
  clear:both;
  a{
  	color: $header-color;
  	&:hover{
  		color: $header-color;
  	}
  }
}

%btn-primary{
  background-color: transparent;
  color: #fff;
  border-color:#fff;
  &:hover{
    background: #fff;
    color: $light-accent;
    border-color: #fff;
  }
}

.emphasis{
  font-weight: bold;
  font-size: 1.2rem;
  &.primary{
    color: $primary-color;
  }
  &.secondary{
    color: $dark-shade;
  }
}


//utilities
.box-shadow{
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.bg-hot-color{
  background-color: $hot-color;
}
.bg-light-accent{
  background-color: $light-accent;
}
.bg-dark-accent{
  background-color: $dark-accent;
}
.bg-primary-accent{
  background-color: $primary-color;
}
.bg-secondary-accent{
  background-color: $secondary-color;
}
.bg-light-shade{
  background-color: $light-shade;
}
.bg-dark-shade{
  background-color: $dark-shade;
}
.bg-muted-primary{
  background-color: $muted-primary-color;
}
.bg-muted-secondary{
  background-color: $muted-secondary-color;
}


.invert-text-color{

  h1, h2, h5, p, label, small, :before{

    color: #fff;
  }

  &.bg-primary-accent .btn-primary{
    @extend %btn-primary;
  }

}

.accent-text{
  color: $primary-color;
  font-weight: 800;
}
.subdue-text{
  color: $light-shade;
  font-weight: 800;
}

.image-filter{
    position: relative;
    &:before{
        z-index: 1;
        content:"";
        position: absolute;
        width:100%;
        height:100%; 
        background-color: rgba(#000, 0.5); 
        top:0;
        left:0;
        display:block;      
    }
    &.blue-filter{
        &:before{
            background-color: rgba($dark-shade, 0.5);
        }
    }
    div {
      z-index: 2;
      position: relative;
    }
}