
body, html{
	font-size: 10px;
	font-family: $font-family-base;
	color: $text-color;
}
h1{
	@extend %header;
}
h2 {
	@extend %header;
}
h3 {
	@extend %header;
	font-size: 2.75rem;
	color: $text-color;
}
h5{
	@extend %header;
	font-size: 3rem;
	font-weight: 500;

}
p,
div{
	font-size: 1.6rem;
	line-height: 1.8;
}

.page {
	h2:not(:first-child){
		margin-top:5rem;
	}
	.subtitle p{
		margin: -2rem 0 2rem;
		color: $primary-color;
		font-weight: 400;
		font-size: 2.2rem;
	}
}

input:not([type="submit"]),
select,
textarea{
	&.form-control{
		font-size: 1.6rem;
		padding-left:30px;
		padding-right:30px;
	}
}
textarea.form-control{
	padding-top:30px;
	padding-bottom:30px;
}
.form-check{
	height:30px;
	input.form-check-input, 
	label {
		height:auto;
	}
	label{
		padding-left:10px;
		display: table-cell;
		vertical-align: middle;
		font-size: 1.6rem;
		line-height: 1.2;
	}
}


ul{
	font-size: 1.6rem;
}
.wrapper-navbar{
	top:0;
	width: 100%;
	z-index: 19;
}
.nav-container{
	margin:0 auto;
	padding:0;
	background-color: #fff;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.secondary-nav-wrap{
	background-color: $primary-color;
	padding: 0 45px;
	position: relative;
	a{
		color: #fff;
	}
	
}
.secondary-nav{
	padding:0;
	.nav-link{
		font-size: 1.2rem;
	}
}
.secondary-nav-wrap {
	a.dropdown-item {
		font-size: 1.2rem;
		color: #000;
		transition: all 0.5s ease;
		padding: 10px 20px;
		border-width:0 5px ;
		border-color: transparent;
		&:hover,
		&:active{
			border-left: 5px solid $primary-color;
		}

	}
}

.nav-link{
	padding:1.2rem;
	text-transform: uppercase;
	font-weight: 600;
	font-size:1.4rem;
	.navbar-light .navbar-nav &{
		color: #fff;
		
	}
	.navbar-light .navbar-nav .active &{
			color:#fff;
	}
}
.partners-header{
	height:0;
}
.marketing-nav{
	padding: 1.8rem 4rem;
	.nav-link{
		color: #333;
		border-bottom: 3px solid transparent;
		padding: 16px 0 10px;
		margin: 0 16px 0;
		transition: all 0.5s;
		&:hover,
		&:active{
			border-bottom: 3px solid $primary-color;
		}
		@media (min-width: 388px) and (max-width: 1130px) { 
			font-size: 1.2rem;
		}
	}
	.btn{
		color: #fff;
	}
}
.btn{
	border-radius: 4rem;
	text-transform: uppercase;
	background-color: $primary-color;
	padding: 1.6rem 3.9rem;
	line-height: 1;
	color: #fff;
	transition: all .4s ease;
	font-size: 1.2rem;
	font-weight: 700;
	border-color: $primary-color;
	margin: 0 0.5rem;
	&:hover{
		background-color: rgba($primary-color, 0.9);
		border-color: $primary-color;
	}
}
.btn-secondary{
	background-color: transparent;
	color: #fff;
	border-color:#fff;
	&:hover{
		background: #fff;
		color: $light-accent;
		border-color: #fff;
	}
}
a{
	color: $primary-color;
	&:hover{
		color: $primary-color;
	}
}

.line-title{
	font-size: 2.2rem;
	font-weight: 400;
	color: $primary-color;
	margin-bottom:0;
}


.slide-caption{
	/*bottom: 260px;*/
	/*z-index: 10;*/
	text-align: left;
	p{
		font-size: 2.2rem;
		margin-bottom: 0;
		/*color: #fff;*/
		font-weight: bold;
	}
	h1{
		font-size:4.2rem;
		/*color: #fff;*/
		font-weight: bold;
	}
}
.carousel-controls{
	height: 80px;
	left:0;
	bottom:0;
	position: absolute;
	z-index: 2;
	width: 100%;
	padding: 0 0 20px;
}
.carousel-indicators {
	justify-content: left;
	margin:0;
	li{
		background-color: lighten($light-accent, 50%);

		&.active {
			background-color: darken($light-accent, 20%);
		}
	}

} 
#tbg_carosel{
	.next-prev{
		height:50px;
		position: relative;
		max-width: 55px;
	}
	.carousel-control-prev, .carousel-control-next{
		width: auto;

	}
	.carousel-indicators{
		position: static;
	}
	
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23$secondary-color' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23$secondary-color' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-item{
	/* adds a background overlay for images on the main slider */
	/*&:after{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($dark-shade, 0.3);
		z-index: 0;
		content:"";
	}*/
}
.slide-image-frame{
	height:600px;
}
.grace-moments-promo{
	.promo-content{
		width:300px;
		position: absolute;
		right: 0;
		bottom: -12px;
		z-index: 9;
	}
}

.page-banner{
	background-color: $dark-shade;
	h1, p {
		color: #fff;
	}
	h1{
		font-size: 3.6rem;
		font-weight: 700;
	}

}


.card-header{
	margin-bottom: 3rem;
	height:200px;
	padding:0;
}
.card-body{
	padding: 0 3rem 3rem;
}
.card-content-footer{
	padding: 0 3rem 3rem;
}
.card-footer{
	padding: 3rem;
	background: transparent;
}
.date-time,
.location{
	font-size:1.2rem;
	margin:0;
}
.date-time {
	color: $primary-color;
	font-weight: bold;
}
.location{
	color: $secondary-color;
	font-weight: 500;
}
.ping-row{
	margin-top:90px;
}
.contribute{
	padding: 6rem $content-padding-rem;
	background: $secondary-color;
	border:none;
	border-radius: none;
	color: #fff;
	.card-title{
		font-weight: bold;
	}
	h5{
		color: #fff;
	}
	&.ping-primary{
		background: darken($secondary-color, 10%);
		height:500px;
		margin-top:-40px;
		margin-bottom:-30px;
		@include media-breakpoint-down(md) { 
			height: auto;
		}
	}
}

.appearing-on{
	h2{
		font-weight: 500;
		color:#fff;
		font-size: 2.8rem;
	}
	div {
		display: inline-block;
	}
}
.sylane-intro{
	background: #fff;
	/*width: 450px;*/
	/*margin:-6rem auto -6rem;*/
	border-radius: 15px;
	overflow: hidden;
	/*position: relative;*/
	/*z-index: 9;*/
	div{
		display:inline-block;
	}
	.sylane-intro-img{
		width:120px;
		@media (max-width: 1200px) { 
			text-align: center;
			width:100%;
		}
	}
	.sylane-intro-content {
		width:200px;
		padding:2rem 0;
		float: right;
		* {
			margin-bottom:0;
			color: $primary-color;
		}
		p {
			color: $secondary-color;
			margin-bottom: 0.5rem;
			line-height: 1.1;
		}
		@media (max-width: 1200px) {
			text-align: center;
			width:100%;
		}
	}
}
.appearances{
	.logos{
		img{
			width:100px;
			height: 100px;
			border-radius: 50%;
			padding: 10px;
			background: #fff;
			margin: 0 3rem 3rem 0;
		}
	}
}
.affiliates-row{
	p, div{
		display:inline-block;
		vertical-align: middle;
		font-size: 1.6rem;
	}
	div{
		margin-left: 4rem;
		@include media-breakpoint-down(md) {
			margin:0;
		}
	}
}
.compassion-international-logo{
	width:150px;
	padding:10px;
}

.banner-overlap{
	max-width:770px; 
	margin-top:-100px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	z-index: 10;
	iframe{
		width:100%;
	}
}
.video-img-container{
	iframe{
		max-width:100%;
	}
}
.padded-card{
	padding:3rem;
}

.topics-modal{
	.modal-content{
		padding:30px;
	}
}
.staffs-modal{
	.modal-content{
		padding:30px;
	}
}
.talk-meta{
	color: $dark-accent;
	font-weight: bold;
}

.testimonies{
	.carousel-indicators li{
		background-color: #888;
	}
	.carousel-control-prev,
	.carousel-control-next{
		width: 5%;
	}
	.carousel-control-prev-icon {
	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	}

	.carousel-control-next-icon {
	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	}
}
a.no-underline{
	outline:0;
	&:hover {
		text-decoration: none;
	}
}
.archive-card{
	box-shadow: $box-shadow;
	border-radius: 15px;
	footer p{
		margin-bottom:0;
	}
}
.archive-rows{
	&:nth-child(even){
		background-color: $muted-primary-color;
	}
}
.date-card{
	.card-header{
		position: relative;
	}
	.card-title{
		font-size: 2rem;
	}
	.category{
		font-size: 1.2rem;
		font-weight: bold;
		color:$primary-color;
		margin-bottom:0;
		&.conferences{
			color:$dark-accent;
		}
		&.seminars{
			color:$dark-accent;
		}
	}
	.date{
		position:absolute;
		padding:1rem;
		background-color: $primary-color;
		color: #fff;
		left:0;
		bottom:-2.6rem;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		border-radius: 5px;
		.day{
			font-size: 1.6rem;
			font-weight: 100;
		}
	}
	.location{
		position: absolute;
		bottom:0;
		right:0;
	}
}

.img-card{

	.card-title{
		font-size: 2rem;
		color:$dark-shade;
		font-weight: 500;
	}
	.card-footer{
		border:0;
	}
}

.bio-link{
	position:relative;
	overflow: hidden;
	
	&:before{
		left:-60px;
		transition: all 0.2s ease-in-out;
		content: "bio";
		position: absolute;
		background-color: $primary-color;
		color:#fff;
		font-weight: 500;
		padding:1.5rem;
		font-size: 1.6rem;
		text-transform: uppercase;
		min-width: 60px;
		margin-top:2rem;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	&:hover:before{
		z-index: 1;
		left:0;
	}
}

.modal-header{
	padding:0;
	border:none;
	.close{
		border-radius: 50%;
		padding:0;
		background-color: darken($primary-color, 20%);
		color: #fff; 
		width: 15px;
		height: 15px;
		margin: -1.5rem -1.5rem -1rem auto;
		&:hover{
			color:#fff !important;
		}
	}
}
.modal-body{
	color: $text-color;
}
.modal-footer{
	border:none;
}
.contact-us-page{
	list-style-type: none;
	margin:0;
	padding:0;
	li{
		padding: 5px 0;
	}
	i {
		margin-right: 15px;
	}
}

.footer-top{
	color: #fff;
	a{
		color: #fff;
		&:hover{
			text-decoration: underline;
		}
	}
	h5{
		color:#fff;
		font-size: 1.8rem;
		font-weight: 600;
	}
	.footer-nav{
		list-style-type: none;
		margin:0;
		padding:0;
		font-weight: 400;
		font-family: "Open Sans", sans-serif;
		li{
			padding:0.4rem 0;
			font-size: 1.4rem;
		}
	}
	.connect-with-us{
		
		i{
			padding:0.5rem;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background-color: $primary-color;
			text-align: center;
			vertical-align: middle;
			margin-right: 15px;
			&:before{
				padding-top:6px;
				display: inherit;
				position: static;
				font-size: 1.2rem;
			}
			
		}
	}
}
.tbg-summary{
	p{
		font-size: 1.4rem;
	}
}

.radial-overlay{
	position: relative;
	div {
		z-index:20;
	}
	h1, h2, p, div{
		color: #fff;
	}
	&:before {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background-color: rgba($dark-shade, 0.9);
	    z-index: 0;
	    content: "";
	}
	&:after {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background-image: radial-gradient(transparent, transparent, $dark-shade 84%);
	    z-index: 1;
	    content: "";
	}
}
.inline-ul{
	ul{
		display: inline;
		list-style-type: none;
		padding:0;
	}
}
.page-item.active .page-link{
	background-color: $primary-color;
	border-color: $primary-color;
}

.page-template-page-books{
	section:nth-child(odd){
		background-color: $light-shade;
	}
}

.copyright-footer{
	background-color: darken(#343a40, 5%);
	p{
		font-size: 1.2rem;
		margin:0;
		color:#626c84;
	}
}

form{
	.assistive-text{
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}
}

blockquote{
	&:before{
		content: open-quote;
		font-size: 20rem;
		color:inherit;
		position:absolute;
		left:-5rem;
		top:-6rem;
		@media (max-width: 575px){
			left: 0.6rem;
			top:-10rem;
		}

	}
}

.center-frame{

}

input:not([type="submit"]),  
select.form-control {
	border: 1px solid #c8c8c8;
	height: 50px;
	border-radius: 0;
	transition: all 0.4s ease;
	padding: 0 29px;
	width: 100%;
}

